<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <title>{{ page.title }}</title>
    <h2 style="color: darkblue">
      <i
        >I'll get around to styling the new post pages soon. Just wanted to
        get</i
      >
      things moved first.
    </h2>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <h1>BonnieBourne</h1>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/' | relative_url }}">About</a>
        <!-- Yes, they point to the same place -->
      </nav>
    </header>
    <main style="margin: 2rem; max-width: 80%">{{ content }}</main>
  </body>
</html>
